@font-face {
  font-family: "MorganiteBlack";
  src: url(/fonts/Morganite-Black.ttf);
}

@font-face {
  font-family: "Morganite";
  src: url(/fonts/Morganite-Book.ttf);
}
body {
  font-size: 25px;
  background: #ffde6b;
}
.App {
  font-family: "Morganite", sans-serif;
  text-align: center;
}

.result-list {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  transform-origin: 50%;
  transform: rotate(-1.5deg);
}

.result-list::-webkit-scrollbar {
  width: 1px;
}
.result-list::-webkit-scrollbar-track {
}
.result-list::-webkit-scrollbar-thumb {
  /*background-color: darkgrey;*/
  /*outline: 1px solid slategrey;*/
}

.result-list-item {
  position: relative;
  height: 30vw;
  display: inline-block;
  text-decoration: none;
  margin: 0 20px;
  /*overflow: hidden;*/
}

.result-list-item__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(0.95);
  transform-origin: 50% 50%;
  transition: all 0.2s linear;
}

.result-list-item__image:hover {
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: all 0.15s ease-out;
}
