@font-face {
  font-family: "MorganiteBlack";
  src: url(/fonts/Morganite-Black.ttf);
}

@font-face {
  font-family: "Morganite";
  src: url(/fonts/Morganite-Book.ttf);
}
body {
  font-size: 25px;
  background: #ffde6b;
}
.App {
  font-family: "Morganite", sans-serif;
  text-align: center;
}
